{% extends "bier/base.html" %}
{% block title %} Seite nicht gefunden. Och menno! {% endblock %} 

{% block content %}

    <div id="container" >
      <div id="sidebar">
        <img id="logo" src="{{images}}/bier_logo.jpg"  alt="Offizielles Logo" />
      </div>
      <div id="content">
          <h2> Oh Fuck. 404! </h2>
          <p> Falscher link?? Gehe zu  <a href="http://woistbier.de" >Hauptseite</a>   </p>
          </br>
                  </br>
                          </br>
          <blockquote>
          Ah du Huan! Was für 404 ja? Aufs Maul!?
          <cite>Nordstadt Typ</cite>
          </blockquote>
      </div>
      
      <div id="clear">
      </div>
    </div> 
{% endblock %}




