{% extends "bier/base.html" %}
{% block title %} Zum Anfassen. Kontakt. {% endblock %} 

{% block content %}
	<div class="container" >
	<div class="sixteen columns" >
	  
	  <div class="six columns alpha">
		<img id="logo" src="{{images}}/bier_logo.jpg"  alt="Offizielles Logo" />
	  </div>
	  
	  <div class="seven columns omega">
		<h2>Wer wir sind?</h2>
		<p>	Ein bekloppter Haufen Dummbatze aus Dortmund. Wir wissen eigentlich ziemlich wenig. Nur eine Sache scheint uns klar:  
			Bier ist gut und man sollte viel davon haben. 	</p>
		<p>	Unser Ziel ist es dieses Wissen, mithilfe modernster Technologien, in die Welt zu tragen.	</p>
		<h2>Kontaktiert uns</h2>
		<p>
			Irgendwas geht nicht, jemand hat was dummes gemacht oder ihr braucht einfach jemanden zum Reden? 
			</p><p>
			Schreibt uns ne Mail, bewerft uns mit (vollen) Bierflaschen oder schickt eine Brieftaube.
		</p>
		<p>
			<SCRIPT TYPE="text/javascript">
			<!-- 
			writeContact('bier')
			 //-->
			</script>
			
			<NOSCRIPT>
			    <em>Kauf dir Javascript sonst kriegste keine mailadresse.</em>
			</NOSCRIPT>
	  </div>
	</div>

	  
	
	</div> 
{% endblock %}