{% extends "bier/base.html" %}
{% block title %} Ein Impressum. Fett. {% endblock %} 

{% block content %}
    <div class="container" >
    <div class="sixteen columns" >
      
      <div class="six columns alpha">
        <img id="logo" src="{{images}}/bier_logo.jpg"  alt="Offizielles Logo" />
      </div>
      
      <div class="seven columns omega">
        <h2>Impressum</h2>
            <p>Verantwortlich für die Realisierung der Website und der Android-Applikation:</p>
            <p class="contact" >Kai Brügge 
            <SCRIPT TYPE="text/javascript"> writeContact('kai') </script>  </p>


            <p>Verantwortlich für die Realisierung Apple iOS - Applikation:</p>
            <p class="contact">Kevin Heinicke 
            <SCRIPT TYPE="text/javascript"> writeContact('kevin') </script> </p>

            <p>Zuständig für die Facebook Präsenz:</p>
            <p class="contact">Sascha Heußen 
            <SCRIPT TYPE="text/javascript">writeContact('sascha') </script> </p>
            <p>Langweiliges aber wichtiges Juristen Bla Bla kann man etwas weiter unten nachlesen wenn man möchte.</p>
      </div>
    </div>

      
    <div class="eleven columns ">
    <section class="bottom">


        <h2 id="disclaimer">Haftungsausschluss</h2>

            Nachfolgend werden alle Teammitglieder des woistbier.de-Teams, die an der technischen und ideologischen Realisation sowohl der „Wo ist Bier?“-Datenbank als auch der iOS/Android Applikation „Wo ist Bier?“ mitgewirkt haben, als „das Team“ bezeichnet.

            <p>1. Inhalt des Onlineangebotes</p>
            Das Team übernimmt keinerlei Gewähr für die Aktualität, Korrektheit, Vollständigkeit oder Qualität der bereitgestellten Informationen. Haftungsansprüche gegen das Team, welche sich auf Schäden materieller oder ideeller Art beziehen, die durch die Nutzung oder Nichtnutzung der dargebotenen Informationen bzw. durch die Nutzung fehlerhafter und unvollständiger Informationen verursacht wurden, sind grundsätzlich ausgeschlossen, sofern seitens des Teams kein nachweislich vorsätzliches oder grob fahrlässiges Verschulden vorliegt.
            Alle Angebote sind freibleibend und unverbindlich. Das Team behält es sich ausdrücklich vor, Teile des Angebots oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen.
            Trotz sorgfältiger Überprüfungen unserer Datenbank auf beleidigenden, widerrechtlichen oder anstössigen Inhalt ist nicht immer gewährleistet, dass sich zu keinem Zeitpunkt ein solcher Inhalt in unserer Datenbank befindet. Daher distanziert sich das Team vorsorglich von jedwedem Inhalt, also Bilder, Grafiken und Texten, die von Dritten unserem Internetangebot hinzugefügt wurden oder noch werden. Falls Sie einen solchen Inhalt in unserem Internetangebot ausfindig machen sollten, bitten wir Sie uns umgehend unter <SCRIPT TYPE="text/javascript"> writeContact('bier') </script> zu kontaktieren.
            <p>2. Urheber- und Kennzeichenrecht</p>
            Das Team ist bestrebt, in allen Publikationen die Urheberrechte der verwendeten Bilder, Grafiken, Videosequenzen und Texte zu beachten, von ihm selbst erstellte Bilder, Grafiken, Videosequenzen und Texte zu nutzen oder auf lizenzfreie Bilder, Grafiken, Videosequenzen und Texte zurückzugreifen. Alle innerhalb des Internetangebotes genannten und ggf. durch Dritte geschützten Marken- und Warenzeichen unterliegen uneingeschränkt den Bestimmungen des jeweils gültigen Kennzeichenrechts und den Besitzrechten der jeweiligen eingetragenen Eigentümer. Allein aufgrund der bloßen gekennzeichneten oder ungekennzeichneten Nennung ist nicht der Schluss zu ziehen, dass Markenzeichen nicht durch Rechte Dritter geschützt sind!
            Das Copyright für veröffentlichte, vom Team selbst erstellte Objekte verbleibt allein beim Team. Eine Vervielfältigung oder Verwendung solcher Bilder, Grafiken, Videosequenzen und Texte in anderen elektronischen oder gedruckten Publikationen ist ohne ausdrückliche Zustimmung des Teams nicht gestattet.

            <p>3. Datenschutz</p>
            Sofern innerhalb des Internetangebotes die Möglichkeit zur Eingabe persönlicher oder geschäftlicher Daten (Emailadressen, Namen, Lieblingsbier) besteht, so erfolgt die Preisgabe dieser Daten seitens des Nutzers auf ausdrücklich freiwilliger Basis. Die Inanspruchnahme und Bezahlung aller angebotenen Dienste ist – soweit technisch möglich und zumutbar – auch ohne Angabe solcher Daten bzw. unter Angabe anonymisierter Daten oder eines Pseudonyms gestattet.
            Die Nutzung der im Rahmen des Impressums oder vergleichbarer Angaben veröffentlichten Kontaktdaten wie Postanschriften, Telefon- und Faxnummern sowie Emailadressen durch Dritte zur Übersendung von nicht ausdrücklich angeforderten Informationen ist nicht gestattet. Rechtliche Schritte gegen die Versender von sogenannten Spam-Mails bei Verstössen gegen dieses Verbot sind ausdrücklich vorbehalten.

            <p>4. Rechtswirksamkeit dieses Haftungsausschlusses</p>
            Dieser Haftungsausschluss ist als Teil des Internetangebotes zu betrachten, von dem aus auf diese Seite verwiesen wurde. Sofern Teile oder einzelne Formulierungen dieses Textes der geltenden Rechtslage nicht, nicht mehr oder nicht vollständig entsprechen sollten, bleiben die übrigen Teile des Dokumentes in ihrem Inhalt und ihrer Gültigkeit davon unberührt.

            <p>5. Werbeeinblendungen mit Hilfe von Google AdMob</p>
            Siehe dazu die Datenschutzerklärung von Google und AdMob. Wir senden keine expliziten Nutzerdaten an AdMob. Auf die Statistiken die AdMob und Google aus den Werbeanzeigen im PlayStore sammeln haben wir keinerlei Einfluss.
        </p>
      </section>
      </div>
    </div> 
{% endblock %}