<h2>Kiosk: </h2>
<p> Name: {{kiosk.name}} </p>
<p> Ort: {{kiosk.street}}  {{kiosk.number}} </p>
<p>Bilder: <p/>
{% for img in imgs %}
  <p> <a href="{{img.image.url}}"> <img src="{{img.thumbnail.url}}" alt="Ein Bild Bitch!"> </a> </p>
{% endfor %}

<h3> Hat folgende biere: </h3>

{% if bier_list %}
    <ul>
    {% for bier in bier_list %}
       <li>{{ bier.beer.name }} -- {{ bier.price }} cent  <small style="color:#888888"> created: {{bier.created}} - modified: {{bier.modified}} </small>   </li>
    {% endfor %}
    </ul>
       
{% else %}
    <p>No beers are available.</p>
{% endif %}
	<p>Hier kannste mehr Bilder hinzufügen zu diesem kiosk.</p>
	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	
		<form  method="post" enctype="multipart/form-data"> {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.image.label }} {{ form.image.help_text }}</p>
            <p>
                {{ form.image.errors }}
                {{ form.image }}
            </p>
            <p><input type="submit" value="Upload" /></p>
        </form>

	