{% extends "bier/base.html" %}
{% block title %} Ein Impressum. Fett. {% endblock %} 

{% block content %}

	<div id="container" >
	  <div id="sidebar">
		<img id="logo" src="{{images}}/bier_logo.jpg" alt="Offizielles Logo" />
	  </div>
	  
	  <div id="content">
		  <h2> Oh nein, es kommt! </h2>
		  <p> Hier entsteht die Webpräsenz der einzig wahren Bier-App.  </p>
		  <p> Es wird euer Leben verändern.</p>

			</br>	 
		  <blockquote>
		  Awesome.
		  <cite>Steve Jobs</cite>
		  </blockquote>

		  <blockquote>
		  Des Dichters Muße ist das Bier. Diese App ist die Tinte in meiner Feder.
		  <cite>Johann Wolfgang von Goethe</cite>
		  </blockquote>
		  
		  <blockquote>
		  Können Sie noch ne Kasse aufmachen?
		  <cite>Typ im Netto</cite>
		  </blockquote>
	  </div>

	  
	  <div id="clear">
	  </div>
	</div> 

{% endblock %} 



